[core]
    editor = vim
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
[difftool]
    prompt = false
[mergetool]
    prompt = false
[include]
    path = ~/.gitconfig.local
[user]
	email = eg0rmaffin@gmail.com
	name = eg0rmaffin
[url "git@github.com:"]
	insteadOf = https://github.com/
